.sliderContainer{
    display: flex;
    overflow-x: hidden;
    width: 680px;
}
.sliderContainer:nth-of-type(3){
    transform:translateX(50px);
}
.slider{
    display: flex;
    gap: 15px;
    padding-right: 15px;
    animation: slideN 10s ease-in-out infinite;
}
.sliderContainer:nth-of-type(2) .slider{
    transform:translateX(-100%);
    animation: slideP 20s ease-in-out infinite;
}

.sliderContainer:nth-of-type(3) .slider{
    animation: slideN 12s ease-in-out infinite;
}
.slider .card{
    width: 160px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
    border: solid 1px;
    border-radius: 20px;
    overflow: hidden;
}

@keyframes slideN {
    to{
        transform: translateX(-100%);
    }
}
@keyframes slideP {
    to{
        transform: translateX(0);
    }
}